body{
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

#container{
  width: 360px;
  margin: 100px auto;
  /* background-color: gainsboro; */
  max-height: 500px;
  box-shadow: 0 0 3px #888888;
}

h1{
  color: white;
  text-transform: uppercase;
  height: 75px;
  line-height: 75px;
  text-align: center;
  margin: 0;
  background-color: blue;
}

input{
  color: blue;
  width: 100%;
  height: 55px;
  box-sizing: border-box;
  padding: 13px;
  font-size: 18px;
  border: 2px solid blue;
  background: gainsboro;
}

input:focus{
  border: 2px solid blue;
  outline: none;
  background-color: white;
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

li{
  background-color: white;
  height: 45px;
  line-height: 45px;
  text-align: center;
  font-size: 17px;
}

li:nth-child(2n){
  background-color: gainsboro;
}

.task{
  max-height: 450px;
  overflow: auto;
}

.deleteButton{
  height: 45px;
  width: 0;
  line-height: 45px;
  float: left;
  background: red;
  color: white;
  opacity: 0;
  transition: 0.3s linear;
}

li:hover span{
  width: 45px;
  opacity: 1;
}

.taskDone{
  color: red;
  text-decoration: line-through;
}

#plus{
  float: right;
  margin-right: 13px;
}